*{padding: 0;margin: 0;}

body{
    color: DAE3EA;
}

.btn{width: 130px;}
    
.btn{background-color: #5C57A9;box-shadow: #5C57A9;border-color: #5C57A9;color:white;border-color: #5C57A9;border-radius: 3px;}

.btn:hover{background-color: #8783c2;color: white;border-color: #8783c2;}

.navbar-light .nav-item .nav-link{font-family: 'Inter';font-style: normal;font-weight: 400;font-size: 16px;line-height: 19px;color: #5C57A9;}

.navbar-light .nav-item .nav-link:hover{color: #24205a}

.navbar-light .navbar-toggler{ border: 3px solid #5C57A9; box-shadow: none;}

.navbar-light .navbar-toggler:hover{color: none;}

.navbar-light .navbar-toggler:disabled{color: none;}

.navbar-toggler-icon{color: #5C57A9;}

.navbar-toggler-icon:hover{color: #ffffff;}

.avatar{width: 90px;height: 70px;border-radius: 50%;}



.card{border: transparent;}
@media screen and (max-width:576px){.btn-next {margin-left: -45px;}.form-control{width: 250px;}

.form-email-two{width:200px;}

.author-name{font-size: medium;}}

.blog-content{padding-top: 20px;}

.footer{background-color:#5C57A9; width:100%; min-height :60vh; margin-top:50px; padding:30px;}

.text-link{color:#ffffff;  text-decoration: none;}

.text-link:hover{background-color:transparent;color:#201E3F;;border:none;border-radius: none;}




.form-floating{color: #7875a7;}

.copy-rights{padding-top: 40px;padding-left: 25px;}


.prev-button .btn-prev {background-color: #5C57A9;width:120px; border-radius:#5C57A9 ;border: #5C57A9;}

.prev-button .btn-next {background-color: #5C57A9;width:100px;  border-radius:#5C57A9 ;border:  #5C57A9 ;}

